<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trevor.photoalbum" >
    <application>
        <activity android:name=".PhotoAlbumActivity"/>
        <provider
            android:name=".provider.APhotoFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
